.container {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: rgb(92, 92, 92);
    padding: 0;
  }
}
